@media (max-width: 45rem) {
  .page {
    margin: 0.75rem;
    grid-row-gap: 1.5rem;
  }

  .main-nav ul {
    gap: 0.35rem 1rem;
  }

  .main-nav li {
    font-size: 0.95rem;
  }

  .page__body {
    box-shadow: 0 0 0 0.75rem var(--off-bg);
  }

  .page__aside {
    position: static;
    max-height: none;
    overflow-y: visible;
  }

  table {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
}
